/* Universal CSS*/

body {
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-family: monospace;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

hr {
    color: brown;
}

.main {
    background-color: rgb(168, 0, 0);
    height: 10rem;
    width: 100%;
}

a img {
    border-radius: 30px;
}

ul {
    margin-top: 2rem;
}

ul li {
    padding: 1rem;
    font-size: 1em;
}